h1 {
  font-size: x-large;
}

/* .form-pengajuan {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.form-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.form-list input {
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 0.5rem;
} */
