h1 {
  font-size: xx-large;
}

label {
  font-size: larger;
}

input {
  padding: 10px 7px;
  background-color: inherit;
  outline: none;
  border: 1px solid #0b132a;
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.container-fields {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.profil-field {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
